.about-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .title-container {
        
    }
    
    .section-one {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        .left-container {
            width: 50vw;
        }
        .right-container {
            .img-container {
                max-width: fit-content;
            }
            width: 50vw;
        }
    }
}