.FamilyPage, .PhylumPage {
    background-color: #ffffff;

    .search-container, .search-div {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;

        .input-new {
            display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        }

        input {
            width: 350px;
            height: 35px;
            padding: .5em 2em;
            margin: 2em;
            border-radius: .5em;
        }

        label {
            font-weight: 700;
            font-size: 18px;
            margin-right: 1em;
            font-family: poppins;
            color: rgb(119, 119, 119);
        }
    }

    
    .more-container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .more-btn {
            padding: .2em 1.3em;
            margin: 1em;
            font-family: poppins;
            font-size: 25px ;
            background-color: transparent;
            border: transparent ;
            font-weight: 700;
            padding-right: 2.2em;
            padding-top: .5em;
            transition: background-color .7s ease-out 100ms;
            border-radius: 2em;
            cursor: pointer;
    }

    .more-btn::before {
        display: inline-block;
        content: url(../assets/plus.png);
        vertical-align: middle;
        margin-right: .5em;
        margin-top: .3em;

    }

    .more-btn:hover {
        opacity: 50%;
    }
}
}


@media screen and (max-width: 1005px) {
    .search-container, .search-div {
        flex-wrap: wrap;

        .input-new {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: flex-start;
            flex-wrap: nowrap;
            margin-right: 20px;
        }

    }

}