.FamilyTable, .GenusTable {
    background-color: #99FEFF;
    width: 100vw;
    th {
        height: 50px;
        font-family: poppins;
        text-align: center;
        background-color: rgb(148, 225, 245);
    }
}