.FamilyRow {
    td {
        text-align: center;
    }
}

.edilete {
    border: 1px solid black;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 1em;
    width: 4em;

    link {
        background-color:rgb(87, 104, 104);
        text-decoration: none;
        list-style: none;
    }

    button {
        padding: 1em 2em;
    }
}