.form-container {
  background-color: red;
  padding: 2em 10em;
  margin: 2em;
  align-items: center;
  justify-content: center;

  form {
    background-color: aquamarine;
    flex-direction: column;
    display: flex;
    padding: 50px;

    .form-div {
        display: flex;
        flex-direction: column;

      label {
        font-weight: 700;
        font-size: 1.2em;
      }
    }

    button {
      padding: 20px 20px;
      font-weight: 500;
      font-size: 20px;
    }
  }
}

.input-elt {
  padding: 10px 80px;
  margin-top: .3em;
  margin-bottom: 2em;
  flex-grow: 1;

  
&::before {
    content: ""; 
    background: url('../assets/assistant.png');
    left: -3px;
    top: 10px;
    position: relative;
    z-index: 15;
  }
}
