.NewFamilyPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
        font-size: 40px;
    }

    .errors-div, .messages-div {
        display: none;
    }
}