.NewGenusPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 40px;
    }

    .errors-div, .messages-div {
        display: none;
        color: red;
        font-size: 18px;
        font-family: poppins;
        font-weight: 700;
    }
}

.errors-div .messages-div {
    display: none;
}