.phylum-row {
  td {
    text-align: center;
    font-weight: 500;
    font-family: poppins;
  }
}

.edilete {
  background-color: bisque;
  padding: 25px;
  display: inline-block;
  width: 100%;
  height: 100%;

  .delete-btn {
    padding: 15px 3em;
    margin-left: 2em;
    font-family: poppins;
    font-size: 15px;
  }

  .edit {
    border: 1px solid black;
    background-color: antiquewhite;
    height: 15px;
    width: 120px;

    a {
      text-decoration: none;
      font-family: poppins;
      font-size: 15px;
    }
  }
}
