.phylums-table  {
    background-color: aqua;
    width: 100vw;
    th {
        height: 50px;
        font-family: poppins;
        text-align: center;
        background-color: rgb(182, 110, 110);
    }
}